:root{
    --akira-red: #da2525;
}
body{
    margin: 0;
    padding: 0;
}
header{
    top: 0px;
    position: absolute;
    width: 100%;

}
.navbar div {
    gap: 1rem
}
.navbar .navbar-icon img {
    height: 40px;
    width: auto;
}
.navbar .logo img {
    height: 60px;
    width: auto;
}
.payment-image img {
    height:1rem;
    width: auto;
}
a{
    text-decoration: none;
    color: var(--text-color)
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    width:30rem
}
.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex{
    display: flex;
    align-content: center;
    align-items: center;
}
.flex-justify-content{
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.w-full {
    width: 100%;
    //width:auto;
}
.w-full > div:first-child{
    width: 100%;
}
.wrapper {
    min-height: 60vh;
}
.header-area{
    min-height:100px;
}

.gap-1{ gap: 10rem; }
.gap-2{ gap: 20rem; }
.gap-3{ gap: 30rem; }

.right-padding-1{ padding-right: 1rem; }
.right-padding-2{ padding-right: 2rem; }

.left-padding-1{ padding-left: 1rem; }
.left-padding-2{ padding-left: 2rem; }


.width-padding-1{
    padding-right: 1rem;
    padding-left: 1rem;
}
.width-padding-2{
    padding-right: 2rem;
    padding-left: 2rem;
}
.width-padding-3{
    padding-right: 3rem;
    padding-left: 3rem;
}




.footer div {
    gap: 0.25rem;
}

.footer-icons {
    height: 1rem;
    width: auto;
}
.footer-icons img {
    height: 1rem;
    width: auto;
}
.footer .footer-logo img{
    height: 80px;
    width: auto;
}
.padding-width-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.align-left{
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    justify-content: left;
}
.align-right{
    align-items: flex-end;
    align-content: flex-end;
    text-align: right;
    justify-content: right;
}