:root{
    --akira-red: #da2525;
}
body{
    margin: 0;
    padding: 0;
}
header{
    top: 0px;
    position: absolute;
    width: 100%;
}
//navbar:
.navbar div {
    gap: 1rem
}
.navbar .navbar-icon img {
    height: 40px;
    width: auto;
}
.navbar .logo img {
    height: 60px;
    width: auto;
}
.navbar input{
    width: 30rem
}

.main-text {
    white-space: nowrap;
    font-family: 'Montserrat Light', sans-serif;
}
.text-1{ font-size: 1.2rem; }
.text-2{ font-size: 1.4rem; }
.text-3{ font-size: 1.6rem; }
.text-4 { font-size: 1.8rem; }
.text-5 { font-size: 2.0rem; }
.text-6 { font-size: 2.2rem; }
.text-7 { font-size: 2.4rem; }
.text-8 { font-size: 2.6rem; }
.text-9 { font-size: 2.8rem; }
.text-10 { font-size: 3rem; }

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat Light', sans-serif;
}
.flex{
    display: flex;
    align-content: center;
    align-items: center;
}
.flex-justify-content{
    display: flex;
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.w-full {
    width: 100%;
    //width:auto;
}
.w-full > div:first-child{
    width: 100%;
}
.wrapper {
    min-height: 60vh;
}
.header-area{
    min-height:100px;
}
.profile-data-card{
    background-color: var(--surface-c);
    width: 30rem;
    height: 16rem;
    border-radius: 2rem;
}
//Links:
#link{
    color: var(--akira-red);
}

//login, registro y edit
.login input{
    width: 27rem;
    height: 3rem;
}
.login .p-dropdown{
    width: 27rem;
    height: 3rem;
}
.login .p-dropdown span{
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    justify-content: left;
}

.content-margin{
    padding: 5rem;
}
.little-margin{
    padding: 1rem;
}
.medium-margin{
    padding: 2rem;
}

.little-margin-width{
    padding-left: 1rem;
    padding-right: 1rem;
}

.gap-1{ gap: 0.5rem; }
.gap-2{ gap: 1rem; }
.gap-3{ gap: 1.5rem; }
.gap-4{ gap: 2rem; }
.gap-5 { gap: 2.5rem; }
.gap-6 { gap: 3rem; }
.gap-7 { gap: 3.5rem; }
.gap-8 { gap: 4rem; }
.gap-9 { gap: 4.5rem; }
.gap-10 { gap: 5rem; }

.right-padding-1{ padding-right: 1rem; }
.right-padding-2{ padding-right: 2rem; }

.left-padding-1{ padding-left: 1rem; }
.left-padding-2{ padding-left: 2rem; }


.width-padding-1{
    padding-right: 1rem;
    padding-left: 1rem;
}
.width-padding-2{
    padding-right: 2rem;
    padding-left: 2rem;
}
.width-padding-3{
    padding-right: 3rem;
    padding-left: 3rem;
}



//footer
.footer div {
    gap: 0.25rem;
}

.footer-icons {
    height: 1rem;
    width: auto;
}
.footer-icons img {
    height: 1rem;
    width: auto;
}
.footer .footer-logo img{
    height: 80px;
    width: auto;
}
.padding-width-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.align-left{
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    justify-content: left;
}
.align-right{
    align-items: flex-end;
    align-content: flex-end;
    text-align: right;
    justify-content: right;
}
.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.payment-image img {
    height:1rem;
    width: auto;
}
a{
    text-decoration: none;
    color: var(--text-color)
}
h2{
    font-family: 'Montserrat Light', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.p-avatar img{
    object-fit: cover;
}